main {

    font-family: var(--font-family);

    #featured {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: column;
        gap: 2px;

        .figure-1 {
            position: relative;

            &::before {
                content: "";
                position: absolute;
    
                inset: 0;
                top: 50%;
                background: 
                linear-gradient(180deg, 
                transparent 0%,
                #020617 100%);  
                
                border-radius: 4px;
    
            }
            

            img {
                width: 100%;
                border-radius: 4px;
            }


            figcaption {
                width: 90%;
                position: absolute;
                top: 40px;
                transform: translate(3%, 50%);

                span {
                    background-color: var(--brand-color-dark);
                    padding: 4px 8px;
                    border-radius: 4px;
                    box-shadow: 0 4px 16px #020617;

                    
                }

                h2 {
                    width: 100%;
                    margin-top: 8px;
                    font-size: 1rem;
                    font-weight: 700;

                }
            }

        }


        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            

            .card {
                width: 50%;
                height: 100%;
                padding: 2px;
                display: flex;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }

                figcaption {
                    position: absolute;
                    top: 70px;
                    transform: translate(5%, 50%);

                    span {
                        background-color: var(--brand-color-dark);
                        padding: 4px 8px;
                        border-radius: 4px;
                        box-shadow: 0 4px 16px #020617;
                        
                    }
    
                    h2 {
                        width: 95%;
                        margin-top: 8px;
                        font-size: 0.9rem;
                        font-weight: 700;
                        display: none;
    
                    }
                }
    
                


            }
            

            


        }

    }


    #weekly {

        width: 100%;
        height: 100%;
        padding-bottom: 5px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .linha {

            width: 95%;
            height: 0.5px;
            background-color: #60a5fa3b;

        }

        header {

           width: 100%;
           height: 100%;
           display: flex;
           flex-direction: row;
           flex-wrap: nowrap;
           align-items: center;
           justify-content: space-between;
           padding: 10px 5px 0 10px;
           margin: 0 0 10px 0;
           
           h3 {
            font-size: 1rem;
            font-weight: 500;
            color: var(--text-color-secondary);
            font-family: var(--font-family);
           }

           strong {
            display: none;
           }

           span {
            display: flex;
            padding: 0 20px;
            width: 20px;
            height: 20px;
            background: url(../assets/icons/ArrowRight.svg) no-repeat center;
            background-size: contain;

           }

        }


        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 3px;
            width: 100%;
            height: 100%;

            figure {
                width: 50%;
                height: 100%;
                padding: 2px;
                display: flex;
                position: relative;

                span {
                    font-size: 0.9rem;
                    position: absolute;
                    top: 40px;
                    transform: translate(10%, 50%);
                    background-color: var(--brand-color-dark);
                    padding: 3px 8px;
                    border-radius: 4px;
                    box-shadow: 0 4px 16px #020617;
                }

                

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }

                p {
                    width: 95%;
                    margin-top: 8px;
                    font-size: 0.9rem;
                    font-weight: 700;
                    display: none;

                }


            }


        }

    }

    #ai {
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .linha {

            width: 95%;
            height: 0.5px;
            background-color: #60a5fa3b;

        }


        header {

           width: 100%;
           height: 100%;
           display: flex;
           flex-direction: row;
           flex-wrap: nowrap;
           align-items: center;
           justify-content: space-between;
           padding: 10px 5px 0 10px;
           margin: 0 0 10px 0;

           
           h3 {
            font-size: 1rem;
            font-weight: 500;
            color: var(--text-color-secondary);
            font-family: var(--font-family);
           }

           strong {
            display: none;
           }

           span {
            display: flex;
            padding: 0 20px;
            width: 20px;
            height: 20px;
            background: url(../assets/icons/ArrowRight.svg) no-repeat center;
            background-size: contain;

           }

        }

        div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            article {
                width: 50%;
                height: 100%;
                padding: 3px;
                position: relative;

                div {
                    width: 50%;
                    height: 100%;

                    /* &::before {
                        content: "";
                        position: absolute;
            
                        inset: 0;
                        top: 50%;
                        background: 
                        linear-gradient(180deg, 
                        transparent 0%,
                        #020617 100%);  
                        
                        border-radius: 4px;
            
                    } */

                    span {
                        display: none;
                    }

                    h3 {
                        font-size: 1rem;
                        text-shadow: 0px 2px 5px #020617;
                        position: absolute;
                        left: 10px;
                        top: 85px;
                        transform: translate(5
                        20%, 50%);
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 90%;
                    }

                    p {
                        display: none;
                    }

                }

                div {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
                }

                

                

                

                p {
                    width: 95%;
                    margin-top: 8px;
                    font-size: 0.9rem;
                    font-weight: 700;
                    display: none;

                }


            }


        }

    }

    aside {
        width: 100%;
        height: 100%;

        #ads {
            width: 100%;
            height: 100%;
            margin-bottom: 20px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        #more {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .linha {

                width: 95%;
                height: 0.5px;
                background-color: #60a5fa3b;
                padding: 0;
    
            }

            header {

                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                padding: 10px 5px 0 10px;
                margin: 0 0 10px 0;
     
                
                h3 {
                 font-size: 1rem;
                 font-weight: 500;
                 color: var(--text-color-secondary);
                 font-family: var(--font-family);
                }
     
                strong {
                 display: none;
                }
     
                span {
                 display: flex;
                 padding: 0 20px;
                 width: 20px;
                 height: 20px;
                 background: url(../assets/icons/ArrowRight.svg) no-repeat center;
                 background-size: contain;
     
                }
     
            }

            div {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                padding: 3px 0;
                
                article:nth-child(1) {
                    width: 50%;
                    height: 150px;
                    position: relative;


                    div > img {
                        width: 97%;
                        height: 100%;
                        border-radius: 4px;
                    }

                    div {

                        span {
                            position: absolute;
                            transform: translate(50%, 50%);
                            top: 100px;
                            left: -30px;
                            background-color: var(--brand-color-dark);
                            padding: 3px 8px;
                            border-radius: 4px;
                            box-shadow: 0 4px 16px #020617;

                        }

                        h3 {
                            display: none;
                        }
                    
                    }


                }

                article:nth-child(2){
                    width: 50%;
                    height: 150px;
                    position: relative;


                    div > img {
                        width: 97%;
                        height: 100%;
                        
                        border-radius: 4px;
                        
                    }

                    div {

                        span {
                            position: absolute;
                            transform: translate(50%, 50%);
                            top: 100px;
                            left: -60px;
                            background-color: var(--brand-color-dark);
                            padding: 3px 8px;
                            border-radius: 4px;
                            box-shadow: 0 4px 16px #020617;

                        }

                        h3 {
                            display: none;
                        }
                    
                    }

                }

                article:nth-child(3){
                    width: 50%;
                    height: 150px;
                    position: relative;


                    div > img {
                        width: 97%;
                        height: 100%;
                        border-radius: 4px;
                    }

                    div {

                        span {
                            position: absolute;
                            transform: translate(50%, 50%);
                            top: 100px;
                            left: -50px;
                            background-color: var(--brand-color-dark);
                            padding: 3px 8px;
                            border-radius: 4px;
                            box-shadow: 0 4px 16px #020617;

                        }

                        h3 {
                            display: none;
                        }
                    
                    }

                }

                article:nth-child(4){
                    width: 50%;
                    height: 150px;
                    position: relative;


                    div > img {
                        width: 97%;
                        height: 100%;
                        border-radius: 4px;
                    }

                    div {

                        span {
                            position: absolute;
                            transform: translate(50%, 50%);
                            top: 100px;
                            left: -25px;
                            background-color: var(--brand-color-dark);
                            padding: 3px 8px;
                            border-radius: 4px;
                            box-shadow: 0 4px 16px #020617;

                        }

                        h3 {
                            display: none;
                        }
                    
                    }

                }

                article:nth-child(5){
                    width: 100%;
                    height: 100%;
                    position: relative;


                    div > img {
                        width: 99%;
                        height: 250px;
                        border-radius: 4px;
                    }

                    div {
                        width: 100%;
                        height: 100%;

                        span {
                            position: absolute;
                            transform: translate(50%, 50%);
                            top: 200px;
                            left: -40px;
                            background-color: var(--brand-color-dark);
                            padding: 3px 8px;
                            border-radius: 4px;
                            box-shadow: 0 4px 16px #020617;

                        }

                        h3 {
                            display: none;
                        }
                    
                    }

                }

            
            }

     
        }


    }


}


@media (min-width: 1025px) {

    main {

        font-family: var(--font-family);
        display: flex;
        align-items: center;
        flex-direction: column;
    
        #featured {

            width: 1216px;
            height: 416px;
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            margin-bottom: 80px;
    
            .figure-1 {
                position: relative;
                width: 608px;
                height: 416px;
                padding: 0;

    
                &::before {
                    content: "";
                    position: absolute;
        
                    inset: 0;
                    top: 50%;
                    background: 
                    linear-gradient(180deg, 
                    transparent 0%,
                    #020617 100%);  
                    
                    border-radius: 4px;
                }
                
    
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }
    
    
                figcaption {
                    width: 90%;
                    position: absolute;
                    top: 200px;
    
                    span {
                        font-size: 0.8rem;
                        font-weight: 500;
                        line-height: 12px;
                        letter-spacing: 4%;
                        background-color: var(--brand-color-dark);
                        padding: 4px 8px;
                        border-radius: 4px;
                        box-shadow: 0 4px 16px #020617;
    
                        
                    }
    
                    h2 {
                        width: 100%;
                        margin-top: 8px;
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 135%;
    
                    }
                }
    
            }
    
    
            div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 592px;
                height: 416px;
                column-gap: 11px;
                row-gap: 16px;
                padding: 0;


                

                .card {
                    width: 288px;
                    height: 200px;

                    position: relative;
                    padding: 0;
    
                    &::before {
                        content: "";
                        position: absolute;
            
                        inset: 0;
                        top: 50%;
                        background: 
                        linear-gradient(180deg, 
                        transparent 0%,
                        #020617 100%);  
                        
                        border-radius: 4px;
                    }
                    

                    img {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
    
                    figcaption {
                        position: absolute;
                        top: 50px;
    
                        span {
                            font-size: 0.8rem;
                            font-weight: 500;
                            line-height: 12px;
                            letter-spacing: 4%;
                            background-color: var(--brand-color-dark);
                            padding: 4px 8px;
                            border-radius: 4px;
                            box-shadow: 0 4px 16px #020617;
                            
                        }
        
                        h2 {
                            width: 100%;
                            font-size: 0.875rem;
                            font-weight: 700;
                            line-height: 140%;
                            display: flex;
        
                        }
                    }
        
                
                }
                   
    
            }
    
        }
    
    
        #weekly {
            
    
            width: 1216px;
            height: 314px;
            gap: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 80px;
            
            .linha {
                width: 100%;
                height: 0.5px;
                background-color: #60a5fa3b;
    
            }
    
            header {
    
               width: 100%;
               height: 2rem;
               display: flex;
               flex-direction: row;
               flex-wrap: nowrap;
               align-items: center;
               justify-content: space-between;
               margin: 0;
               padding: 0;
               
               h3 {
                font-size: 1rem;
                font-weight: 500;
                color: var(--text-color-secondary);
                font-family: var(--font-family);
               }
    
               a {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100px;
                height: 20px;

                strong {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 145%;
                    display: flex;
                }
        
                span {
                    width: 16px;
                    height: 16px;
                    background: url(../assets/icons/ArrowRight.svg) no-repeat center;
                    background-size: contain;
        
                }

                
               }

               a:hover {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100px;
                height: 20px;

                strong {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 145%;
                }
        
                span {
                    width: 21px;
                    height: 21px;
                    background: url(../assets/icons/ArrowRight-hover.svg) no-repeat center;
                    background-size: contain;
        
                }


               }

               
    
            }
    
    
            div {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                gap: 1rem;
                width: 100%;
                height: 234px;
                padding: 0;
    
                figure {
                    width: 292px;
                    height: 234px;
                    padding: 0;
                    position: relative;
    
                    span {
                        font-size: 0.8rem;
                        font-weight: 500;
                        line-height: 12px;
                        letter-spacing: 4%;
                        position: absolute;
                        top: 5px;
                        background-color: var(--brand-color-dark);
                        padding: 3px 8px;
                        border-radius: 4px;
                        box-shadow: 0 4px 16px #020617;
                    }
    
                    
    
                    img {
                        width: 100%;
                        height: 160px;
                        border-radius: 4px;
                    }
    
                    p {
                        position: absolute;
                        top: 160px;
                        width: 100%;
                        height: 66px;
                        margin-top: 8px;
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 140%;
                        display: flex;
    
                    }
    
    
                }
    
    
            }
    
        }

        .container {
            width: 1216px;
            height: 856px;
            display: flex;
            flex-direction: row;
            gap: 32px;

            #ai {
                width: 698px;
                height: 856px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;
                gap: 24px;
        
                .linha {
        
                    width: 698px;
                    height: 0.5px;
                    padding: 0.2px;
                    background-color: #60a5fa3b;
        
                }
        
                header {
                   width: 100%;
                   height: 32px;
                   display: flex;
                   flex-direction: row;
                   flex-wrap: nowrap;
                   align-items: center;
                   justify-content: space-between;
                   padding: 0;
                   margin: 0;
                  
                   
                   h3 {
                    display: flex;
                    font-size: 0.875rem;
                    font-weight: 500;
                    line-height: 145%;
                    color: var(--text-color-secondary);
                    font-family: var(--font-family);

                   }
        
                   a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100px;
                    height: 20px;
    
                    strong {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 145%;
                        display: flex;
                    }
            
                    span {
                        width: 16px;
                        height: 16px;
                        background: url(../assets/icons/ArrowRight.svg) no-repeat center;
                        background-size: contain;
            
                    }
    
                    
                   }
    
                   a:hover {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100px;
                    height: 20px;
    
                    strong {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 145%;
                    }
            
                    span {
                        width: 21px;
                        height: 21px;
                        background: url(../assets/icons/ArrowRight-hover.svg) no-repeat center;
                        background-size: contain;
            
                    }
    
    
                   }
                   
        
                }
        
                #box {

                    width: 696px;
                    height: 800px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap:nowrap;
                    
                    gap: 32px;
    
                    article {
                        width: 696px;
                        height: 176px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;

                        div:nth-child(1) {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            width: 504px;
                            height: 164px;
                            gap: 8px;
                            position: relative;
                            
                
                            span {
                                position: absolute;
                                top: -15px;
                                width: 132px;
                                font-size: 0.8rem;
                                font-weight: 500;
                                line-height: 12px;
                                letter-spacing: 4%;
                                background-color: var(--brand-color-dark);
                                padding: 4px;
                                border-radius: 4px;
                                box-shadow: 0 4px 16px #020617;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            h3 {
                                position: absolute;
                                top: 10px;
                                width: 504px;
                                height: 44px;
                                font-size: 1rem;
                                font-weight: 700;
                                line-height: 140%;
                                margin-bottom: 4px;
                                padding: 0;
                                left: 0;
                            

                            }

                            p {
                                position: absolute;
                                top: 50px;
                                width: 504px;
                                height: 88px;
                                
                                display: flex;
                                font-size: 0.875rem;
                                font-weight: 500;
                                line-height: 160%;
                                color: var(--text-color-secondary);

                            }
                        
                        }

                        div:nth-child(2) {
                            width: 176px;
                            height: 176px;

                            img {
                                width: 176px;
                                height: 176px;
                            }
                        }

                    }


                }
        
            }
        
            aside {
                width: 488px;
                height: 856px;
                display: flex;
                flex-direction: column;
                gap: 32px;
        
                #ads {
                    width: 488px;
                    height: 280px;
        
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
        
                #more {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                
                    padding: 0;
                    margin: 0;
        
                    .linha {
        
                        width: 100%;
                        height: 0.5px;
                        background-color: #60a5fa3b;
                        padding: 0.3px;
            
                    }
        
                    header {
    
                        width: 100%;
                        height: 2rem;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: space-between;
                        margin: 0 0 24px 0;
                        padding: 0;
                        
                        h3 {
                         font-size: 1rem;
                         font-weight: 500;
                         color: var(--text-color-secondary);
                         font-family: var(--font-family);
                        }
             
                        a {
                         display: flex;
                         flex-direction: row;
                         align-items: center;
                         width: 100px;
                         height: 20px;
         
                         strong {
                             font-size: 14px;
                             font-weight: 500;
                             line-height: 145%;
                             display: flex;
                         }
                 
                         span {
                             width: 16px;
                             height: 16px;
                             background: url(../assets/icons/ArrowRight.svg) no-repeat center;
                             background-size: contain;
                 
                         }
         
                         
                        }
         
                        a:hover {
                         display: flex;
                         flex-direction: row;
                         align-items: center;
                         width: 100px;
                         height: 20px;
         
                         strong {
                             font-size: 14px;
                             font-weight: 500;
                             line-height: 145%;
                         }
                 
                         span {
                             width: 21px;
                             height: 21px;
                             background: url(../assets/icons/ArrowRight-hover.svg) no-repeat center;
                             background-size: contain;
                 
                         }
         
         
                        }
         
                        
             
                     }
        
                    #box-aside {
                        width: 488px;
                        height: 488px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        gap: 32px;
                        
                        article:nth-child(1) {
                            width: 488px;
                            height: 72px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;

                            div:nth-child(1) {
                                width: 72px;
                                height: 72px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                            }

                            div:nth-child(2) {
                                width: 401px;
                                height: 72px;
                               
                                span {
                                    position: absolute;
                                    top: -6px;
                                    left: 50px;
                                    font-size: 0.8rem;
                                    font-weight: 500;
                                    line-height: 12px;
                                    letter-spacing: 4%;
                                    background-color: var(--brand-color-dark);
                                    padding: 4px 8px;
                                    border-radius: 4px;
                                    box-shadow: 0 4px 16px #020617;
                                    
                                }

                                h3 {
                                    width: 100%;
                                    margin-top: 30px;
                                    display: flex;
                                    flex-direction: row;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    line-height: 140%;

                                }



                            }

                            
        
        
        
                        }

                        article:nth-child(2) {
                            width: 488px;
                            height: 72px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;

                            div:nth-child(1) {
                                width: 72px;
                                height: 72px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                            }

                            div:nth-child(2) {
                                width: 401px;
                                height: 72px;
                               
                                span {
                                    position: absolute;
                                    top: -6px;
                                    left: 25px;
                                    font-size: 0.8rem;
                                    font-weight: 500;
                                    line-height: 12px;
                                    letter-spacing: 4%;
                                    background-color: var(--brand-color-dark);
                                    padding: 4px 8px;
                                    border-radius: 4px;
                                    box-shadow: 0 4px 16px #020617;
                                    
                                }

                                h3 {
                                    width: 100%;
                                    margin-top: 30px;
                                    display: flex;
                                    flex-direction: row;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    line-height: 140%;

                                }



                            }

                            
        
        
        
                        }

                        article:nth-child(3) {
                            width: 488px;
                            height: 72px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;

                            div:nth-child(1) {
                                width: 72px;
                                height: 72px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                            }

                            div:nth-child(2) {
                                width: 401px;
                                height: 72px;
                               
                                span {
                                    position: absolute;
                                    top: -6px;
                                    left: 33px;
                                    font-size: 0.8rem;
                                    font-weight: 500;
                                    line-height: 12px;
                                    letter-spacing: 4%;
                                    background-color: var(--brand-color-dark);
                                    padding: 4px 8px;
                                    border-radius: 4px;
                                    box-shadow: 0 4px 16px #020617;
                                    
                                }

                                h3 {
                                    width: 100%;
                                    margin-top: 30px;
                                    display: flex;
                                    flex-direction: row;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    line-height: 140%;

                                }



                            }

                            
        
        
        
                        }

                        article:nth-child(4) {
                            width: 488px;
                            height: 72px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;

                            div:nth-child(1) {
                                width: 72px;
                                height: 72px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                            }

                            div:nth-child(2) {
                                width: 401px;
                                height: 72px;
                               
                                span {
                                    position: absolute;
                                    top: -6px;
                                    left: 53px;
                                    font-size: 0.8rem;
                                    font-weight: 500;
                                    line-height: 12px;
                                    letter-spacing: 4%;
                                    background-color: var(--brand-color-dark);
                                    padding: 4px 8px;
                                    border-radius: 4px;
                                    box-shadow: 0 4px 16px #020617;
                                    
                                }

                                h3 {
                                    width: 100%;
                                    margin-top: 30px;
                                    display: flex;
                                    flex-direction: row;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    line-height: 140%;

                                }



                            }

                            
        
        
        
                        }

                        article:nth-child(5) {
                            width: 488px;
                            height: 72px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;

                            div:nth-child(1) {
                                width: 72px;
                                height: 72px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                            }

                            div:nth-child(2) {
                                width: 401px;
                                height: 72px;
                               
                                span {
                                    position: absolute;
                                    top: -6px;
                                    left: 33px;
                                    font-size: 0.8rem;
                                    font-weight: 500;
                                    line-height: 12px;
                                    letter-spacing: 4%;
                                    background-color: var(--brand-color-dark);
                                    padding: 4px 8px;
                                    border-radius: 4px;
                                    box-shadow: 0 4px 16px #020617;
                                    
                                }

                                h3 {
                                    width: 100%;
                                    margin-top: 30px;
                                    display: flex;
                                    flex-direction: row;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    line-height: 140%;

                                }



                            }

                            
        
        
        
                        }

                    
                    }
        
             
                }
        
        
             }

        }
    
    }
    
    
}
